<template>
    <div>
        <multiselect 
            v-model="selectedTags" 
            tag-placeholder="Add this as new tag" 
            placeholder="Search or add a tag"
            label="name" 
            track-by="id" 
            :options="tags" 
            :multiple="true" 
            :taggable="true" 
            @tag="addTag">
        </multiselect>
        <div v-for="(selectedTag, index) in selectedTags" :key="index">
            <input type="hidden" name="tags[]" :value="selectedTag.name"/>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Multiselect from 'vue-multiselect';
import swal from 'sweetalert2';

export default {
    name: 'tag-input',

    components: { Multiselect },

    props: {
        savedTags: {
            required: false,
            type: Array,
            default: function () {
                return [];
            }
        }
    },

    data () {
        return {
            selectedTags: [],
            tags: []
        }
    },

    mounted() {
        this.loadTags();

        if(this.savedTags.length != 0) {
            for(var i=0; i < this.savedTags.length; i++) {
                this.selectedTags.push({id: this.savedTags[i].id, name: this.savedTags[i].name});
            }
        }
    },

    methods: {
        loadTags() {
            axios.get(baseURL+'/api/tags', {
                headers: {
                    "X-Requested-With": "XMLHttpRequest"
                }
            })
            .then((response) => {
                this.tags = response.data;
            })
            .catch((error) => {
                console.log(error);
                swal({
                    title: 'Error',
                    text: 'Issue with loading tags.',
                    type: 'error'
                });
            });
        },

        addTag (newTag) {
            const tag = {
                id: '',
                name: newTag
            }
            this.tags.push(tag)
            this.selectedTags.push(tag)
        }
    }
}
</script>