<template>
    <form id="event-form" method="PATCH" @submit.prevent="onSubmit">
        <div class="form__left">
            <div class="form__name">
                <label>Event Title <span class="required">*</span></label>
                <input class="form__text" v-model="event.name.html" type="text" placeholder="Give it a short distinct name">
            </div>
            <div class="form__start-date">
                <label>Starts <span class="required">*</span></label>
                <flat-pickr class="form__picker" v-model="calendar.start.date" :config="datepicker_config"></flat-pickr>
                <flat-pickr class="form__picker" v-model="calendar.start.time" :config="timepicker_config"></flat-pickr>
            </div>

            <div class="form__end-date">
            <label>Ends <span class="required">*</span></label>
                <flat-pickr class="form__picker" v-model="calendar.end.date" :config="datepicker_config"></flat-pickr>
                <flat-pickr class="form__picker" v-model="calendar.end.time" :config="timepicker_config"></flat-pickr>
            </div>

            <div class="form__logo" v-if="!media.tempImage">
                <label>Select an image</label>
                <input class="form__file" type="file" @change="onImageChange">
                <img class="form__image" :src="media.image.url" v-if="media.image != null" />
                <img class="form__image" :src="this.baseURL+'/images/default-event.jpg'" v-else />
            </div>
            <div class="form__logo" v-else>
                <img class="form__image" :src="media.tempImage" />
                <button class="red-button" title="Remove Image" @click="removeImage"><span class="fa fa-trash"></span> Remove Image</button>
            </div>

            <div class="form__description">
                <label>Event Description</label>
                <textarea class="form__textarea" v-model="event.description.html"></textarea>
            </div>
            
            <div class="form__organizer">
                <label>Name of Organiser (group or person) <span class="required">*</span></label>
                <a v-if="!isOrganizerFieldVisible" @click="toogleIsOrganizerFieldVisible">+ Add new</a>
                <a v-else @click="toogleIsOrganizerFieldVisible">Cancel</a>
                <select class="form__select" 
                    v-model="event.organizer_id"
                    v-if="!isOrganizerFieldVisible">
                    <option value selected="selected">Select from previous organisers</option>
                    <option v-for="organizer in organizers" 
                        :key="organizer.id" 
                        :value="organizer.id"
                        v-text="organizer.name">
                    </option>
                </select>

                <input class="form__text" 
                    v-model="organizer.name" 
                    type="text"
                    v-else>
            </div>

            <div class="form__tickets">
                <label>Number of Tickets (All tickets for the event will be free)</label>
                <input class="form__text" v-model="ticket_class.quantity_total" type="number" placeholder="Quantity of tickets">
            </div>

            <div class="form__category">
                <label>Event Topic</label>
                <select class="form__select" v-model="event.category_id">
                    <option value selected="selected">Select a topic</option>
                    <option v-for="category in categories" 
                        :key="category.id" 
                        :value="category.id"
                        v-text="category.name">
                    </option>
                </select>
            </div>

            <div class="form__format">
                <label>Event Type</label>
                <select class="form__select" v-model="event.format_id">
                    <option value selected="selected">Select the type of event</option>
                    <option v-for="format in formats" 
                        :key="format.id" 
                        :value="format.id"
                        v-text="format.name">
                    </option>
                </select>
            </div>
        </div>
        <div class="form__right">
            <div class="form__venue">
                <label>Location <span class="required">*</span></label>
                <input class="form__address-name" 
                    v-model="venue.name" 
                    type="text" 
                    placeholder="Venue name">
                <input 
                    class="form__address-line" 
                    v-model="venue.address.address_1" 
                    type="text" 
                    placeholder="First line of address">
                <input 
                    class="form__address-line" 
                    v-model="venue.address.address_2" 
                    type="text" 
                    placeholder="Second line of address">
                <input 
                    class="form__address-city" 
                    v-model="venue.address.city" 
                    type="text" 
                    placeholder="City">
                <input 
                    class="form__address-postal" 
                    v-model="venue.address.postal_code" 
                    type="text" 
                    placeholder="Postal code">
            </div>
        </div>
        <div class="form__submit">
            <button class="green-button" title="Update Event"><span class="fa fa-save"></span> Update Event</button>
        </div>
    </form>
</template>

<script>
import Vue from 'vue';
import swal from 'sweetalert2'
import FlatPickr from 'vue-flatpickr-component';
import moment from 'moment';
let today = moment().format("YYYY-MM-DD");
var FormData = require('form-data');

let token = document.head.querySelector('meta[name="csrf-token"]');

export default {
    name: 'event-edit-form',

    components: { FlatPickr },

    props: {
        eventId: {
            type: Number,
            required: true
        }
    },

    data() {
        return{
            baseURL: baseURL,
            datepicker_config: {
                dateFormat: "Y-m-d",
                defaultDate: today,
            },
            timepicker_config: {
                noCalendar: true,
                enableTime: true,
                time_24hr: true,
                minuteIncrement: 30,
                dateFormat: "H:i", 
                defaultDate: "12:00",
            },
            calendar: {
                start: {
                    date: today,
                    time: "12:00"
                },
                end: {
                    date: today,
                    time: "12:00"
                }
            },
            isOrganizerFieldVisible: false,
            media_url: 'https://www.eventbriteapi.com/v3/media/upload/',
            venues_url: 'https://www.eventbriteapi.com/v3/venues/',
            categories_url: 'https://www.eventbriteapi.com/v3/categories/',
            formats_url: 'https://www.eventbriteapi.com/v3/formats/',
            user_organizers_url: 'https://www.eventbriteapi.com/v3/users/me/organizers/',
            organizers_url: 'https://www.eventbriteapi.com/v3/organizers/',
            events_url: 'https://www.eventbriteapi.com/v3/events/',
            organizers: [],
            categories: [],
            formats: [],
            event: {
                name: {
                    html: ''
                },
                description: {
                    html: ''
                },
                currency: 'GBP',
                venue_id: '',
                organizer_id: '',
                category_id: '',
                format_id: '',
                logo_id: '',
                start: {
                    timezone: 'Europe/London',
                    utc: '',
                },
                end: {
                    timezone: 'Europe/London',
                    utc: '',
                },
            },
            venue: {
                name: 'Abertay University',
                organizer_id: '',
                address: {
                    address_1: 'Bell Street',
                    address_2: '',
                    city: 'Dundee',
                    region: '',
                    postal_code: 'DD1 1HG',
                    country: '',
                },
            },
            organizer: {
                name: ''
            },
            ticket_class: {
                name: 'Standard',
                quantity_total: 0,
                free: true
            },
            media: {
                tempImage: '',
                image: {},
                new_files: []
            },
        }
    },

    mounted() {
        this.loadCategoryList();
        this.loadFormatList();
        this.loadOrganizerList();
        this.loadEventDetails();

    },

    methods: {
        loadCategoryList() {
            this.fetchEventbriteData(this.categories_url)
                .then((response) => {
                    this.categories = response.data.categories;
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        loadFormatList() {
            this.fetchEventbriteData(this.formats_url)
            .then((response) => {
                this.formats = response.data.formats;
            })
            .catch((error) => {
                console.log(error);
            });
        },

        loadOrganizerList() {
            this.fetchEventbriteData(this.user_organizers_url)
            .then((response) => {
                this.organizers = response.data.organizers;
            })
            .catch((error) => {
                console.log(error);
            });
        },

        loadEventDetails() {
            axios.get(this.events_url + this.eventId + '/', {
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV",
                },
                params: {
                    expand: "logo,venue,organizer,format,category"
                }
            })
            .then((event) => {
                this.media.image = event.data.logo;
                delete event.data.logo;

                this.venue = event.data.venue;
                delete event.data.venue;

                this.organizer = event.data.organizer;
                delete event.data.organizer;

                this.format = event.data.format;
                delete event.data.format;

                this.category = event.data.category;
                delete event.data.category;

                this.event = event.data;

                this.calendar.start.date = moment(event.data.start.local).format("YYYY-MM-DD");
                this.calendar.start.time = moment(event.data.start.local).format('HH:mm');

                this.calendar.end.date = moment(event.data.end.local).format("YYYY-MM-DD");
                this.calendar.end.time = moment(event.data.end.local).format('HH:mm');

                this.loadTicketClass()
                    .then((ticket_class) => {
                        this.ticket_class = ticket_class.data.ticket_classes[0];
                    });
            })
            .catch((error) => {
                swal({
                    title: 'Error',
                    text: 'Could not load event',
                    type: 'error'
                });
                console.log(error);
            })
        },

        loadTicketClass() {
            return this.fetchEventbriteData(this.events_url + this.event.id + '/ticket_classes/');
        },

        fetchEventbriteData(url) {
            return axios.get(url, {
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV",
                }
            });
        },

        onImageChange(e) {
            this.media.new_files = e.target.files || e.dataTransfer.files;
            if (!this.media.new_files.length)
                return;
            this.createImage(this.media.new_files[0]);
        },

        createImage(file) {
            var reader = new FileReader();
            reader.onload = ((e) => {
                this.media.tempImage = e.target.result;
            }).bind(this);
            reader.readAsDataURL(file);
        },

        removeImage() {
            this.media.tempImage = '';
            this.media.new_files = [];
        },

        toogleIsOrganizerFieldVisible() {
            this.isOrganizerFieldVisible = !this.isOrganizerFieldVisible;
            this.organizer.name = '';
        },

        onSubmit(e) {
            this.formatDateTimes();
            this.postOrganizerAndVenue()
                .then(() => {
                    this.uploadEventLogo()
                        .then(() => {
                            this.updateEvent()
                                .then((event) => {
                                    this.event = event.data;
                                    
                                    this.updateTicketClass()
                                        .then((ticket_class) => {
                                            this.ticket_class = ticket_class.data;
                                            swal({
                                                title: 'Event Updated',
                                                type: 'success',
                                                timer: 4000
                                            })
                                            .then(() => {
                                                window.location.href = this.baseURL+'/events';
                                            })
                                            .catch((dismiss) => {
                                                window.location.href = this.baseURL+'/events';
                                            })
                                        })
                                        .catch(error => this.handleErrors(error));
                                })
                                .catch(error => this.handleErrors(error));
                        })
                        .catch(error => this.handleErrors(error));
                })
                .catch(error => this.handleErrors(error));
        },

        formatDateTimes() {
            this.event.start.utc = moment.parseZone(this.calendar.start.date + 'T' + this.calendar.start.time+'+00:00').utc().format();
            this.event.end.utc = moment.parseZone(this.calendar.end.date + 'T' + this.calendar.end.time+'+00:00').utc().format();
        },

        postOrganizerAndVenue() {
            return new Promise((resolve, reject) => {
                if(this.organizer.name !== '') {
                    this.postOrganizer()
                        .then((organizer) => {
                            this.organizer = organizer.data;
                            this.venue.organizer_id = this.organizer.id;
                            this.event.organizer_id = this.organizer.id;

                            this.postVenue()
                                .then((venue) => {
                                    this.venue = venue.data;
                                    this.event.venue_id = this.venue.id;
                                    resolve();
                                }).catch(error => reject(error));
                        }).catch(error => reject(error));
                } else {
                    this.postVenue()
                        .then((venue) => {
                            this.venue = venue.data;
                            this.event.venue_id = this.venue.id;
                            resolve();
                        }).catch(error => reject(error));
                }  
            })
        },

        uploadEventLogo() {
            return new Promise((resolve, reject) => {
                if(this.media.new_files.length > 0) {
                    this.getUploadInstructions()
                        .then((instructions) => {
                            this.media.upload_token = instructions.data.upload_token;
                            this.uploadMedia(instructions.data.upload_url, instructions.data.upload_method, instructions.data.upload_data)
                                .then(() => {
                                    this.confirmSuccessfulUpload()
                                        .then((image) => {
                                            this.event.logo_id = image.data.id;
                                            this.media.image = image.data;
                                            resolve();
                                        })
                                        .catch(error => reject(error));
                                })
                                .catch(error => console.log(error));
                        })
                        .catch(error => console.log(error));
                } else {
                    resolve();
                }
            });
        },

        getUploadInstructions() {
            return axios({
                method: 'get',
                url: this.media_url,
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                params: {
                    type: "image-event-view-from-seat"
                }
            });
        },

        uploadMedia(upload_url, upload_method, upload_data) {
            return new Promise((resolve, reject) => {
                var formData = new FormData();   
                formData.append('key', upload_data.key);
                formData.append('AWSAccessKeyId', upload_data.AWSAccessKeyId);
                formData.append('acl', upload_data.acl);
                formData.append('bucket', upload_data.bucket);
                formData.append('policy', upload_data.policy);
                formData.append('signature', upload_data.signature);
                formData.append('file', this.media.new_files[0]);

                this.showLoadingAlert();

                axios({
                    method: upload_method,
                    url: upload_url,
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                    data: formData
                })
                .then((response) => {
                    resolve(response);
                })
                .catch((error) => {
                    reject(error);
                })
            });
        },

        confirmSuccessfulUpload() {
            return axios({
                method: 'post',
                url: this.media_url,
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                data: {
                    upload_token: this.media.upload_token,
                    crop_mask: {
                        top_left: {
                            x: 500,
                            y: 500
                        },
                        width: 2160,
                        height: 1080
                    }
                }
            });
        },

        postOrganizer() {
            if(this.organizer.id == null) {
                return axios({
                    method: 'post',
                    url: this.organizers_url,
                    headers: {
                        "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                    },
                    data: {
                        "organizer": this.organizer
                    }
                });
            } else {
                return this.updateOrganizer()
            }
        },

        updateOrganizer() {
            return axios({
                method: 'post',
                url: this.organizers_url + this.organizer.id + '/',
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                data: {
                    "organizer": {
                        "name": this.organizer.name
                    }
                }
            });
        },

        postVenue() {
            if(this.venue.id == null) {
                return axios({
                    method: 'post',
                    url: this.venues_url,
                    headers: {
                        "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                    },
                    data: {
                        "venue": this.venue
                    }
                });
            } else {
                return this.updateVenue()
            }
        },

        updateVenue() {
            return axios({
                method: 'post',
                url: this.venues_url + this.venue.id + '/',
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                data: {
                    "venue": {
                        "name": this.venue.name,
                        "address": {
                            "address_1": this.venue.address.address_1,
                            "address_2": this.venue.address.address_2,
                            "city": this.venue.address.city,
                            "region": null,
                            "postal_code": this.venue.address.postal_code,
                            "country": null,
                            "latitude": null,
                            "longitude": null,
                        }
                    }
                }
            });
        },

        updateEvent() {
            return axios({
                method: 'post',
                url: this.events_url + this.event.id + '/',
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                data: {
                    "event": {
                        "name": {
                            "html": this.event.name.html
                        },
                        "description": {
                            "html": this.event.description.html
                        },
                        "organizer_id": this.event.organizer_id,
                        "start": {
                            "utc": this.event.start.utc,
                            "timezone": this.event.start.timezone,
                        },
                        "end": {
                            "utc": this.event.end.utc,
                            "timezone": this.event.end.timezone,
                        },
                        "currency": this.event.currency,
                        "venue_id": this.event.venue_id,
                        "category_id": this.event.category_id,
                        "format_id": this.event.format_id,
                        "logo_id": this.event.logo_id
                    }
                }
            });
        },

        updateTicketClass() {
            return axios({
                method: 'post',
                url: this.events_url + this.event.id + '/ticket_classes/' + this.ticket_class.id + '/',
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                },
                data: {
                    "ticket_class": {
                        "quantity_total": this.ticket_class.quantity_total
                    }
                }
            });
        },

        showLoadingAlert() {
            swal({
                title: 'Processing',
                text: 'This might take a while if the selected image is large.',
                onOpen: function () {
                    swal.showLoading()
                }
                }).then(() => {},
                (dismiss) => {
                    if (dismiss === 'timer') {
                        console.log('I was closed by the timer')
                    }
                }
            )
        },

        handleErrors(error) {
            var errorMessage = ""
            switch(error.response.data.error) {
                // Mixed errors
                case "ARGUMENTS_ERROR":
                    switch(error.request.responseURL) {
                        case(this.organizers_url):
                            errorMessage = "The organizer already exists."
                            break;
                        case(this.venues_url):
                            errorMessage = "The event requires a venue."
                            break;
                        case(this.events_url):
                            errorMessage = "The event requires a title."
                            break;
                    }
                    break;

                // Media errors
                case "BAD_FILE":
                    errorMessage = "The file you are attempting to upload is not valid."
                    break;
                case "BAD_FORMAT":
                    errorMessage = "The file format you are attempting to use is not supported."
                    break;
                case "BAD_UPLOAD_TOKEN":
                    errorMessage = "The upload token you are attempting to use is invalid."
                    break;
                case "S3_ERROR":
                    errorMessage = "We encountered an error while uploading your image."
                    break;
                
                // Event errors
                case "DATE_CONFLICT":
                    errorMessage = "Start date cannot be after end date."
                    break;
                case "DIFFERENT_TIMEZONES":
                    errorMessage = "Issue with timezones of dates."
                    break;
                case "INVALID_DATE":
                    errorMessage = "Start and end dates must be in the future."
                    break;
                case "NO_DEFAULT_ORGANIZER":
                    errorMessage = "The event requires a default organiser."
                    break;
                case "NO_VENUE":
                    errorMessage = "The event requires a venue."
                    break;

                // Ticket Class errors
                case "NO_QUANTITY_TOTAL":
                errorMessage = "The number of tickets must be greater than 0."
                break;
            }

            swal({
                title: 'Issue with Event',
                text: errorMessage,
                type: 'error'
            });
        }
    }
}
</script>