<template>
    <div class="grid-container">
        <div class="pagination">
            <button type="button" class="button" v-on:click="onNavNewer" v-show="pagination.current_page > 1">Newer</button>
            <span>Total number of {{ this.status }} events: {{ pagination.events_count }}</span>
            <button type="button" class="button" v-on:click="onNavOlder" v-if="pagination.current_page < pagination.last_page">Older</button>
        </div>
        
        <div class="event-list" v-if="events.length != 0">
            <div class="poster-card" v-for="(event, eventIndex) in events" :key="eventIndex">
                <event-card :event="event" :config="config"></event-card>
            </div>
        </div>
        <div class="event-list" v-else>
            <p>There are currently no events, please check back later.</p>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import swal from 'sweetalert2';
import EventCard from './EventCard.vue';
import moment from 'moment';
let now = moment().format();

export default {
    name: 'event-list',

    components: { EventCard },

    props: {
        status: {
             type: String,
             required: true
        },
        config: {
            type: Object,
            default: function () {
                return {admin: false};
            }
        }
    },

    data() {
        return{
            events_url: 'https://www.eventbriteapi.com/v3/users/me/owned_events/',
            events: [],
            pagination: {
                current_page: 1,
                last_page: 1,
            },
        }
    },

    mounted() {
        this.loadEvents(this.pagination.current_page)
            .then((events) => {
                this.events = events.events.reverse();
                this.setPagination(events.pagination);
            })
            .catch((error) => {
                console.log(error);
            });
    },

    methods: {
        loadEvents(pageNumber) {
            return new Promise((resolve, reject) => {
                axios.get(this.events_url, {
                    headers: {
                        "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV",
                    },
                    params: {
                        status: this.status,
                        page: pageNumber,
                        expand: "logo,venue,organizer,format,category"
                    }
                })
                .then((events) => {
                    resolve(events.data)
                })
                .catch((error) => {
                    reject(error);
                });              
            });
        },

        onNavNewer() {
            if(this.pagination.current_page <= 1) {
                console.log("no newer events");
            } else {
                var pageNumber = this.pagination.current_page - 1;
                this.loadEvents(pageNumber)
                    .then((events) => {
                        this.events = events.events;
                        this.setPagination(events.pagination);
                        this.scrollToPageTop();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                this.scrollToPageTop();
            }
        },

        onNavOlder() {
            if(this.pagination.current_page >= this.pagination.last_page) {
                console.log("no older events");
            } else {
                var pageNumber = this.pagination.current_page + 1;
                this.loadEvents(pageNumber)
                    .then((events) => {
                        this.events = events.events;
                        this.setPagination(events.pagination);
                        this.scrollToPageTop();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        },

        setPagination(pagination) {
            this.pagination = {
                events_count: pagination.object_count,
                current_page: pagination.page_number,
                last_page: pagination.page_count,
            }
        },

        scrollToPageTop() {    	
            window.scrollTo(0, 0);
        },

    }
}
</script>