<template>
    <div>
        <a :href="event.url">
            <div class="poster-card__header">
                <div class="poster-card__image">
                    <img :src="event.logo.url" v-if="event.logo" />
                    <img :src="this.baseURL+'/images/default-event.jpg'" v-else />
                </div>
                <span class="poster-card__label" v-if="event.is_free">Free</span>
                <span class="poster-card__label" v-else>{{ ticket_class.cost.display }}</span>
            </div>
            <div class="poster-card__body">
                <time class="poster-card__date">{{ parseDateForHumans(event.start.local) }}</time>
                <div class="poster-card__title">{{ event.name.html }}</div>
                <div class="poster-card__owner" v-if="config.admin">Created by: {{ owner.email }}</div>
                <div class="poster-card__venue" v-if="event.venue">{{ event.venue.address.address_1 }}, {{ event.venue.address.city }}</div>
            </div>
        </a>
        <div class="poster-card__footer">
            <div class="poster-card__tags">
                <span class="event-category" v-if="event.category" >#{{ event.category.short_name_localized }}</span>
                <span class="event-format" v-if="event.format" >#{{ event.format.short_name_localized }}</span>
            </div>
            <div class="poster-card__actions" v-show="event.status == 'live' || event.status == 'started'">
                <a :href="'http://www.facebook.com/sharer.php?u='+event.url" target="_blank"><span class="fa fa-facebook"></span></a>
            </div>
        </div>
        <div class="poster-card__footer">
            <div class="poster-card__actions">
                <a @click="onPublish()" class="publish" v-show="event.status == 'draft' && config.admin">Publish</a>
                <a @click="onUnpublish()" class="unpublish" v-show="(event.status == 'live' || event.status == 'started') && config.admin">Unpublish</a>
                <a :href="this.baseURL+'/events/'+this.event.id+'/edit'" v-if="owner.currentUserisOwner || config.admin"><span class="fa fa-pencil-square-o"></span></a>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import swal from 'sweetalert2';
import moment from 'moment';
let now = moment().utc().format();
let token = document.head.querySelector('meta[name="csrf-token"]');

export default {
    name: 'event-card',

    props: { 
        event: {
            required: false,
            type: Object,
            default: function() {
                return {
                    name: {
                        html: ''
                    },
                    description: {
                        html: ''
                    },
                    currency: 'GBP',
                    start: {
                        timezone: 'Europe/London',
                        utc: '',
                    },
                    end: {
                        timezone: 'Europe/London',
                        utc: '',
                    },
                    category_id: '',
                    category: {},
                    format_id: '',
                    format: {},
                    venue_id: '',
                    venue: {
                        name: '',
                        organizer_id: '',
                        address: {
                            address_1: '',
                            address_2: '',
                            city: '',
                            region: '',
                            postal_code: '',
                            country: '',
                        },
                    },
                    organizer_id: '',
                    organizer: {
                        name: ''
                    },
                    logo: {
                        url: '',
                    },
                }
            }
        },
        eventId: {
            required: false
        },
        config: {
            type: Object,
            default: function () {
                return {admin: false};
            }
        }
    },

    data() {
        return{
            baseURL: baseURL,
            events_url: 'https://www.eventbriteapi.com/v3/events/',
            owner: {},
            ticket_class: {
                name: 'Standard',
                quantity_total: 0,
                free: true,
                cost: {
                    display: ''
                }
            }, 
        }
    },

    created() {
        if(this.eventId != null) {
            this.loadEventDetails();
        } else {
            this.loadOwnerDetails()
                .then((ownerDetails) => {
                    this.owner = ownerDetails.data;
                });
        }
    },

    methods: {
        loadEventDetails() {
            axios.get(this.events_url + this.eventId + '/', {
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV",
                },
                params: {
                    expand: "logo,venue,organizer,format,category"
                }
            })
            .then((event) => {
                this.event = event.data;

                this.loadOwnerDetails()
                    .then((ownerDetails) => {
                        this.owner = ownerDetails.data;
                    });
                this.loadTicketClass()
                    .then((ticket_class) => {
                        this.ticket_class = ticket_class.data.ticket_classes[0];
                    });
            })
            .catch((error) => {
                console.log(error);
                swal({
                    title: 'Error',
                    text: 'Could not load event',
                    type: 'error'
                });
            })
        },

        loadOwnerDetails() {
            return axios.get(baseURL+'/api/events/'+ this.event.id +'/owner', {
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRF-TOKEN": token.content,
                }
            });
        },

        loadTicketClass() {
            return axios.get(this.events_url + this.event.id + '/ticket_classes/', {
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV",
                }
            });
        },

        onPublish() {
            if(this.event.start.utc < now) {
                swal({
                    title: 'Error',
                    text: 'The event must be in the future to be published.',
                    type: 'error'
                });
            } 
            else {
                axios({
                    method: 'post',
                    url: this.events_url + this.event.id + '/publish/',
                    headers: {
                        "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                    }
                })
                    .then((response) => {
                        window.location.href = this.baseURL+'/events';
                    }).catch(error => this.handleErrors(error));
            }
        },

        onUnpublish() {
            axios({
                method: 'post',
                url: this.events_url + this.event.id + '/unpublish/',
                headers: {
                    "Authorization": "Bearer J7DMIXTGEYKHGHDNJ5YV"
                }
            }).then((response) => {
                    window.location.href = this.baseURL+'/events';
            }).catch((error) => {});
        },

        parseDateForHumans(dateTime) {
            return moment(dateTime).calendar(null, {
                sameDay: '[Today] @ HH:mm',
                nextDay: '[Tomorrow] @ HH:mm',
                nextWeek: 'dddd @ HH:mm',
                lastDay: '[Yesterday] @ HH:mm',
                lastWeek: '[Last] dddd',
                sameElse: 'ddd DD MMM HH:mm'
            });
        },

        handleErrors(error) {
            var errorMessage = ""
            switch(error.response.data.error) {
                // Publish errors
                case "ARGUMENTS_ERROR":
                    errorMessage = "There are required fields missing from the event."
                    break;
                case "ALREADY_PUBLISHED_OR_DELETED":
                    errorMessage = "This event has already been published or deleted."
                    break;
                // Unpublish errors
                case "CANNOT_UNPUBLISH":
                    errorMessage = "You have attempted to unpublish an event that has pending or completed sales of paid tickets (and that is not in the past, completed, and paid out), or has pending or completed sales of free tickets (ever)."
                    break;
                case "NOT_PUBLISHED":
                    errorMessage = "This event is not currently published and cannot be unpublished."
                    break;
                // Delete errors
                case "ALREADY_DELETED":
                    errorMessage = "This event has already been deleted."
                    break;
                case "CANNOT_DELETE":
                    errorMessage = "This event can not be deleted."
                    break;
            }

            swal({
                title: 'Issue with Event',
                text: errorMessage,
                type: 'error'
            });
        }
    }
}
</script>