#front {
	.featured {
		@include xy-grid();
		@include xy-grid-container();
		margin-top: $global-margin;

		.featured__events, .featured__resources {
			@include xy-cell(auto);

			.featured__button {
				@include xy-cell(12);
				border: 1px solid $primary-color;
				font-weight: bold;
				text-align: center;
				@include button(false, $primary-color, $primary-color, $primary-color, hollow);
			
				&:hover {
					color: $white;
					@include button(false, $primary-color, $primary-color, $white, solid);
				}
			}
		}
	}

	.introduction {
		@include xy-grid();
		@include xy-grid-container();
		font-size: 1.2rem;
		
		.purpose, .motovation {
			@include xy-cell(12);
			margin-bottom: $global-margin;

			h3 {
				font-size: 1.3rem;
				font-weight: 600;
				color: $primary-color;
			}
		}
	}
}