.event-list, .resource-list {
    @include xy-grid();
    @include xy-cell(auto, false);
}

.poster-card {
    width: 100%;
    position: relative;
    margin-bottom: $global-margin;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: white;
    color: #0a0a0a;

    @include breakpoint(medium) {
        @include xy-cell(6);
    }
    @include breakpoint(large) {
        @include xy-cell(6);
    }

    .poster-card__header {
        .poster-card__image {
            img {
                width:100%;
                height:100%;
            }
        }
        .poster-card__label {
            background-color: #fff;
            background-color: rgba(255,255,255,.92);
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            color: #282C35;
            box-sizing: border-box;
            padding: 2px 10px;
            position: absolute;
            display: inline-block;
            top: 10px;
            left: 10px;
        }
        .poster-card__type {
            background-color: #fff;
            background-color: rgba(255,255,255,.92);
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            color: #282C35;
            box-sizing: border-box;
            padding: 2px 10px;
            position: absolute;
            display: inline-block;
            top: 10px;
            left: 10px;
        }
        .poster-card__rating {
            background-color: #fff;
            background-color: rgba(255,255,255,.92);
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            color: #282C35;
            box-sizing: border-box;
            padding: 2px 10px;
            position: absolute;
            display: inline-block;
            top: 10px;
            right: 10px;
        }
    }

    .poster-card__body {
        padding: 5px 15px;

        .poster-card__date {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            color: #45494E;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 5px 0 5px;
        }
        .poster-card__title {
            display: block;
            display: -webkit-box;
            max-height: 38px;
            margin: 0 auto;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #282C35;
            font-size: 15px;
            line-height: 19px;
            max-height: 38px;
            font-weight: 600;
            letter-spacing: 0;
            padding: 0;
            height: 38px;
        }
        .poster-card__venue, .poster-card__owner, .poster-card__category {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #666A73;
            font-size: 12px;
            line-height: 18px;
            height: 22px;
            padding: 5px 0 0;
        }
        .poster-card__desc {
            margin: $global-margin auto;

            pre {
                font-family: inherit;
                white-space: pre-wrap;
            }
        }
    }

    .poster-card__footer {
        position: relative;
        height: 40px;
        line-height: 40px;
        padding-right: 80px;
        border-top: 1px solid #EFF2F5;
        padding-left: 15px;

        .poster-card__tags {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            a, span {
                color: #45494E;
                font-size: 12px;
                margin-right: 10px;
                text-transform: capitalize;
            }

            a:hover {
                color: $primary-color;
            }
        }
        .poster-card__actions {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0;
            line-height: 38px;

            a, .button-form {
                display: inline-block;
                color: #666A73;
                font-size: 20px;
                min-width: 40px;
                height: 40px;
                border-left: 1px solid #EFF2F5;
                box-sizing: border-box;
                text-align: center;
                padding: 0 5px;
                cursor: pointer;

                button {
                    color: #666A73;
                    cursor: pointer;
                }

                &:hover {
                    color: $primary-color;

                    button {
                        color: $primary-color;
                    }
                }
            }

            .publish, .unpublish {
                font-size: 12px;
            }
        }      
    }
}