[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

    &:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 5px #cacaca;
            box-shadow: 0 0 5px #cacaca;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    }
}

select {
    border: 1px solid #cacaca;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cacaca;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cacaca;
}

input::placeholder,
textarea::placeholder {
  color: #cacaca;
}

.required {
    font-size: 1.5rem;
    color: $alert-color;
}

#event-form, #resource-form, #user-form {
    @include xy-grid();
    margin: $global-margin auto;

    .form__left { 
        @include xy-cell(12);
        @include breakpoint(medium) {
            @include xy-cell(8);
        }
    }

    .form__right {
        @include xy-cell(12);
        @include breakpoint(medium) {
            @include xy-cell(4);
        }
    }

    .form__name, .form__venue, .form__description, 
    .form__organizer, .form__tickets, .form__category, 
    .form__format, .form__link {
        @include xy-grid();

        label {
            @include xy-cell(12);
        }

        .form__textarea, .form__text, .form__select {
            @include xy-cell(12);
        }

        .form__textarea {
            height: 6rem;
        }
    }

    .form__logo {
        @include xy-grid();
        height: 400px;

        label, .form__file {
            @include xy-cell(12);
        }

        .form__image {
            @include xy-cell(12);
            width: auto;
            height: 300px;
        }

        button {
            @include xy-cell(12);
        }
    }

    .form__start-date, .form__end-date {
        @include xy-grid();

        label {
            @include xy-cell(12);
            @include breakpoint(large) {
                @include xy-cell(2);
            }
        }

        .form__picker {
            @include xy-cell(12);
            @include breakpoint(large) {
                @include xy-cell(auto);
            }
        }
    }

    .form__mailing-list {
        @include xy-grid();
        @include xy-cell(12);

        label {
            @include xy-cell(9);
        }

        .form__checkbox {
            @include xy-cell(3);
        }
    }

    .form__submit {
        @include xy-grid();
        @include xy-cell(12);
        display: inline;

        button {
            float: right;
        }
    }
}

.multiselect__input {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 1px 0 0 5px;
    width: 100%;
    -webkit-transition: border .1s ease;
    transition: border .1s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 8px;
    box-shadow: none;
    font-family: inherit;
    font-size: 14px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  

.category {
    @include xy-grid();
    @include flex-align(center, middle);

    .category-form {
        @include xy-cell(12);
        @include xy-grid();

        .form__name {
            @include xy-cell(12);

            @include breakpoint(medium) {
                @include xy-cell(8);
            }
        }
    }

    .category-new, .category-update {
        .form__submit {
            @include xy-cell(12);
            display: inline;

            @include breakpoint(medium) {
                @include xy-cell(2);
            }
        }
    }

    .category-new {
        @include breakpoint(medium) {
			@include xy-cell(12);
		}
    }

    .category-update {
        @include breakpoint(medium) {
			@include xy-cell(10);
		}
    }

    .category-delete {
        @include breakpoint(medium) {
			@include xy-cell(2);
		}

        .form__delete {
            @include xy-cell(12);
            display: inline;

            @include breakpoint(medium) {
                @include xy-cell(2);
            }

            .button {
                float: right;
            }
        }
    }
}