#logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    width: 138px;
    padding: 5px 8px 5px 0;

    a {
        padding: 0;
    }

    &:hover {
        background: transparent;
    }
}   

.top-bar {
    padding: 0 0.5rem;
}

.menu {
    height: 50px;

    li, .menu-text {
        white-space: nowrap;
        padding-top: 5px;

        &:hover {
            background-color: darken($primary-color, 10%);
        }

        a {
            color: $white;
            &:hover {color: $white;}
            &:active {color: $white;}
        }
    }
}

ul.dropdown.menu li.has-submenu {
    a {
        position: relative;
        padding-right: 1.5rem;

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: auto;
            right: 5px;
            width: 0;
            height: 0;
            margin-top: -3px;
            border: inset 6px;
            border-bottom-width: 0;
            border-top-style: solid;
            border-color: $white transparent transparent;
        }
    }
}

.off-canvas {
    color: $white;
    font-weight: bold;
    background-color: #1c2b36;

    ul.menu, ul.menu ul.menu.nested {
        height: auto;

        li {
            &.open {
                background: rgba(0, 0, 0, 0.2);
            }

            &:hover {
                background: rgba(0, 0, 0, 0.3);

                .fa {
                    color: $white;
                }
            }

            a {
                color: #7793a7;

                &:hover {
                    color: $white;
                }
            }

            .fa {
                float: left;
                padding: 15px 0;
                font-size: 12px;
                width: 32px;
                line-height: 1;
                text-align: center;
                color: #7793a7;
            }
        }
    }

    .accordion-menu {
        .is-accordion-submenu-parent[aria-expanded="true"] {
            background: rgba(0, 0, 0, 0.2);
        }

        .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
            border-color: #7793a7 transparent transparent;
        }
    }
}