.pagination {
	@include xy-grid();
	@include flex-align(center, middle);
	.active {
		color: $white;
		background-color: $primary-color;
		padding: 2px 10px;
	}
}

.page {
    @include xy-grid();
    @include xy-grid-container();
    margin-top: $global-margin;
	margin-bottom: $global-margin;
	min-height: calc(100vh - 155px);
}

.page-banner {
	background-size: cover;
	background-position: bottom;
	padding-top: $global-padding * 4;
	padding-bottom: $global-padding * 4;
	background-color: $primary-color;
	color: $white;
	@include xy-grid();

	.page-banner__nav {
		@include xy-cell(12);
	}

	.page-banner__logo {
		@include xy-cell(6);
		@include xy-cell-offset(3);
		margin-top: $global-margin;

		@include breakpoint(large) {
			@include xy-cell(2);
			@include xy-cell-offset(0);
		}
	}

	.page-banner__content {
		@include xy-cell(12);

		@include breakpoint(large) {
			@include xy-cell(8);
		}

		.page-banner__tagline {
			@include xy-grid();
			@include xy-grid-container();
			@include flex-align(center, middle);
			font-size: 2.2rem;
			text-transform: uppercase;
			text-align: center;
		}

		.page-banner__action {
			@include xy-grid();
			@include xy-grid-container();
			@include flex-align(center, middle);
			padding: $global-padding * 4;
			font-weight: bold;
			text-align: center;
		}

		.page-banner__newsletter {
			@include xy-grid();
			@include xy-grid-container();
			@include flex-align(center, middle);
			padding: $global-padding;
			font-weight: bold;
			text-align: center;
		}

		.page-banner__message {
			@include xy-cell(12);
			color: $white;
		}

		.page-banner__button {
			@include xy-cell(12);
			font-weight: bold;
			text-align: center;
			@include button(false, $white, $white, $primary-color, hollow);

			@include breakpoint(medium) {
				@include xy-cell(4);
			}
		
			&:hover {
				@include button(false, $white, $white, $primary-color, solid);
			}
		}
	}
}

.page-content {
	@include xy-grid-container();
	@include xy-cell(12);
	margin-top: $global-margin;
	padding: $global-padding;
	border: 1px solid #DCDCDC;

	@include breakpoint(large) {
		margin-top: 0;
		@include xy-cell(auto);
	}

	.page-content__title {
		text-transform: uppercase;
	}
}