.article-link {
    background-color: #fab611;
}
.document-link {
    background-color: #d11142;
}
.other-link {
    background-color: #a0e0fc;
}
.presentation-link {
    background-color: #f18849;
}
.program-link {
    background-color: #185e5a;
}
.video-link {
    background-color: #74559f;
}
.website-link {
    background-color: #a0e0fc;
}

.resource__image {
    @include xy-grid();
    @include flex-align(center, middle);
}

.resource__description {
    margin: $global-padding*2 0;
    pre {
        font-family: inherit;
    }
}

.resource__link {
    border: 1px solid $light-gray;
    margin-left: 0;


    a {
        @include xy-grid();
        @include xy-cell(auto);
        margin-left: 0;
    }

    .link__icon {
        width: 100px;
        padding: $global-padding;
        color: $white;
        text-align: center;
        margin-left: 0;
    }

    .link__url {
        @include xy-cell(auto);
        padding: $global-padding;
        margin-left: 0;
    } 
}

.resource__footer {
    margin-top: $global-margin;
}