.sidebar-left {
    @include xy-grid(vertical, true);
    @include xy-cell(12);
    border: 1px solid #DCDCDC;

    @include breakpoint(large) {
        @include xy-cell(3);
    }

}

.sidebar-block {
    @include xy-cell(12);
    margin-top: $global-margin;
    
    .sidebar-block__title {
        font-family: inherit;
        font-weight: bold;
    }

    .sidebar-block__body {

    }

    .sidebar-block__list {
        margin-left: 0;
        list-style-type: none;
        
        a {
            li:before{
                content: "\f02b";
                font-family: "FontAwesome";
                color: $light-gray;
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
  
            li {
                margin-top: 5px;
                padding: $global-padding / 2;
            }

            &:hover {
                li {
                    border-left: 1px solid $primary-color;
                }
            }
        }

        a.selected {
            li {
                border-left: 1px solid $primary-color;
            }
        }
    }
}